<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <i class="fa-solid fa-ticket"></i>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "My lists", lists_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "New list", new_list_path, class: "nav-link" %>
          </li>
      </ul>
    </div>
  </div>
</div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path("Tivoli_Theatre_screen_w_streetscape_cc_LG.jpg") %>);">
  <div class="container">
    <h1>Your movie watch lists!</h1>
    <p>View, add and create your own custom movie watch lists.</p>
  </div>
</div>
<div class="cards">
<% @lists.each do |list| %>
<%= link_to list_path(list), class: "link" do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.bookmarks[0].movie.poster_url %>)">
    <%= list.name %>
  </div>
<% end %>
<% end %>
</div>
